<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the about page, which is about giving information about what the application is all about.
</p>
<p>
  It's like Uber but on the internet, with microposts, and with a tiny
    inspiration on <a href="https://www.twitter.com" target='_blank'>Twitter</a>
</p>