<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>This is the about page, which is about giving information about what the application is all about.</p>
  </body>
</html>